/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0px;
	padding: 3px;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


p {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
	font-size: 19px;
	text-align: center;
}
div {
	width: 100%;
	height: 11%;
	background-color: brown;
	margin: auto;
}

body, html {
	height: 100%;
  }
  
  * {
	box-sizing: border-box;
  }
  
  .bg-image {
	/* The image used */
	background-image: url("https://resize.img.allw.mn/travel/thumbs/zq/f5/etyir5ca5554b28394a91156828774_400x400.jpg");
  
	/* Add the blur effect */
	filter: blur(8px);
	-webkit-filter: blur(8px);
  
	/* Full height */
	height: 100%;
	width: 100%;
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }
  
  /* Position text in the middle of the page image 
  .bg-text {
	background-color: rgb(0,0,0); /* Fallback color 
	background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through 
	color: blue;
	font-weight: bold;
	border: 3px solid #f1f1f1;
	position: absolute;
	top: 30%;
	left: 30%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 80%;
	padding: 20px;
	text-align: center;
  }  */

  .kontener {
	  display: flex;
	  justify-content: space-between; 
	  width: 100%;
	  height: 450px;
	  background-color: black;

  }

  .column{
	  width: 40%;
	  height: 100%;
	  background-color: white;
  }
  .link {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;  
	width: 100%;
  }

  .footer
  {
	display: flex;

	align-items: flex-end;
	flex-direction: row-reverse;
  } 
